<% @products.each do |product| %>
  <div>
    <h2><%= product.title %></h2>
    <% if product.description %>
        <p><%=product.description%></p>
    <% end %>
    <p><%= product.price %></p>
    <p><%= product.stock_quantity%></p>
  </div>
<% end %>
